/*
* {
  border: 1px solid red;
}
*/

body {
  color: green; 
}

h1, h2 {
  color: green;
  background-color: red;
  border-bottom: 2px solid purple;
  text-align: center; /* or left, right... */
}

p {
  font-family: Cursive;
}

.pizzabox {
  border: 1px dotted black;
  padding: 8px; 
  margin: ;
  background-color: papayawhip;
}

.yellow {
  background: yellow;
}

img {
  width: 150px;
  float: right;
}

a {
  color: blue;
  text-decoraton: none;
}

a:hover {
  color: white;
  background-color: blue;
}

